.neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 17px #0fa, 0 0 9px #0fa, 0 0 1px #0fa, 0 0 49px #0fa, 0 0 0px #0fa;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

/* Additional styling */

.container {
  font-family: 'Vibur', sans-serif;
  position: absolute;
  top: 0;
  z-index: 999;
  vertical-align: center;
  width: 100%;
}

@media (max-width: 1360px) {
  .container {
    display: none;
  }
}
